/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.portfolio-container {
    width: 80%;
    margin: 0 auto;
}

.portfolio-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.view-toggle {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    margin-right: 10px;
}

.view-toggle.active {
    background-color: #0073e6;
    color: #fff;
}

.filters select, #sort-az {
    padding: 10px;
    margin-right: 10px;
}

.portfolio-posts.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.portfolio-posts.list-view {
    display: block;
}

.post {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    transition: background 0.3s ease-in-out;
}

.post:hover {
    background: #eee;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-description {
    font-size: 16px;
    color: #666;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    outline: none;
}

.pagination button:hover {
    background-color: #ddd;
}

.pagination #page-number {
    padding: 10px 20px;
    background-color: #0073e6;
    color: #fff;
    border-radius: 5px;
}